body {
	width: 550px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* タイトル */
h1 {
	margin: 0 0 5px 0;
}

/* 画面 */
div {
	position: relative;
	width: 550px;
	height: 412px;
	margin: 0 auto;
}

img#back {
	width: 550px;
}

img#face {
	position: absolute;
	bottom: -25px;
	left: -70px;
	width: 350px;
}

/* テキスト */
p {
	margin: 2px 0 5px 0;
}

textarea#skit {
	display: none;
}

textarea#backlog {
	font-size: 15px;
	width: 540px;
	height: 54px;
}

input {
	height: 30px;
}

input.choice {
	width: 270px;
	text-align: center;
}

input#reset {
	width: 150px;
}